@font-face {
  font-family: 'iconfont';  /* project id 2295490 */
  src: url('//at.alicdn.com/t/font_2295490_w47xfm8l5z.eot');
  src: url('//at.alicdn.com/t/font_2295490_w47xfm8l5z.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2295490_w47xfm8l5z.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2295490_w47xfm8l5z.woff') format('woff'),
  url('//at.alicdn.com/t/font_2295490_w47xfm8l5z.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2295490_w47xfm8l5z.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}
.icon-shurukuang:before {
	content: "\e71f";
}
.icon-xialakuangbiaodan:before {
	content: "\e7a4";
}
.icon-danxuananniu:before {
	content: "\e61c";
}
.icon-kaiguan-guan:before {
	content: "\e60f";
}
.icon-fuxuankuang:before {
	content: "\e66a";
}
.icon-xuanxiangqia:before {
	content: "\e69f";
}
.icon-shuzishurukuang:before {
	content: "\e69c";
}

.icon-suoding:before {
  content: "\e652";
}
.icon-jiacu:before {
  content: "\e62c";
}
.icon-jiesuo:before {
  content: "\e65a";
}
.icon-xiahuaxian:before {
  content: "\e611";
}
.icon-ziti:before {
  content: "\e621";
}
.icon-zitidaxiao:before {
  content: "\e655";
}
.icon-jinyong:before {
  content: "\e636";
}
.icon-xieti:before {
  content: "\e6b1";
}
.icon-zijianju:before {
  content: "\e600";
}
.icon-yincang:before {
  content: "\e696";
}
.icon-xianshi:before {
  content: "\e75f";
}
.icon-suoding1:before {
  content: "\e69e";
}
.icon-shanchuxian:before {
  content: "\e74e";
}
.icon-xiangyingshibuju:before {
  content: "\e665";
}
.icon-zhagebuju:before {
  content: "\e6ac";
}
.icon-anniu:before {
  content: "\e607";
}

.icon-table:before {
  content: "\ed1f";
}
.icon-home:before {
  content: "\e601";
}
.icon-date:before {
  content: "\e704";
}
.icon-upload:before {
  content: "\e663";
}
.icon-fenye:before {
  content: "\e6cc";
}
.icon-step:before {
  content: "\e6a0";
}